div #about {
  text-align: left;
}
h1{
    text-align: center;
}
.footer{
  border-top: .5px solid hsla(0,0%,100%,.2);
}
#element1 {display:inline-block;margin-right:10px; width:200px;} 
#element2 {display:inline-block; width:200px; } 

.circular--landscape {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

}

.circular--landscape img {
  width: 200px;
  height: 200px;
}

.circular--portrait {
  display: inline-block;

  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}


#content
{
display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
}

.services-section img {

    margin: auto;    
    display: block;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #CC978E !important;
    border-color:  #CC978E !important;
}