div #about {
  text-align: left;
}
div #landing{
  max-width: 75%;
}

#landing .col{
  min-width: auto;
}

h1{
    text-align: center;
}

#teamTitle{
  text-align: left;
  height: 95.7px;
  width: 340px;
  color: #1D00B5;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.86px;
  line-height: 61px;
  padding-right: 15px;
  padding-left: 15px;
}


#teamTitleTwo{
  text-align: left;
  height: 95.7px;
  width: 340px;
  color: #1D00B5;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.86px;
  line-height: 61px;
}

#teamTitleThree{
  text-align: left;
  height: 95.7px;
  width: 340px;
  color: #1D00B5;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.86px;
  line-height: 61px;
}

#aboutUs{
  text-align: left;
  height: 53.7px;
  width: 340px;
  color: 000000;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0.86px;
  line-height: 61px;
}

#ourCommunity{
  height: 40px;
  color: #1D00B5;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding-right: 15px;
padding-left: 15px;


}


.footer{
  border-top: .5px solid hsla(0,0%,100%,.2);
}
#element1 {display:inline-block;margin-right:10px; width:200px;}
#element2 {display:inline-block; width:200px; }

.circular--landscape {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

}
#ourHeaderNav {
  padding: 20px 1px 5px 1px;
  width:100%;
  background-color:	#00bfa6;
}
#phlink {
  color: white;
  text-decoration: underline;
}

.circular--landscape img {
  width: 200px;
  height: 200px;
}

.circular--portrait {
  display: inline-block;

  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}


#content
{
display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
}

#mainContent{
  /*max-width:95%;*/
  margin:0 auto;
  /*  100px clears header  */
  padding:50px 0px 0px 0px;
}

.airtTableContent{
  background-color: #E6E6E6;
  color: #1D00B5;
  box-shadow: 7px 7px 30px 0 rgba(0,0,0,0.16);

}

.airtTableContent .col {
    min-width: auto;
}


.rectangle-2 {
  /* height: 1000px; */
  /* width: 1280px; */
  padding-top: 30px;
  background: linear-gradient(180deg, #7C3ECC 0%, #6240FF 100%);
  box-shadow: 7px 7px 30px 0 rgba(0,0,0,0.25);
}


.rectangle-2 .col {
    min-width: auto;
}

#titleWithLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


#one {
  width: 437px;
/* font-family: CircularStd-Medium; */
font-family: "CircularStd";
 font-style: "Book";

}

.landingLink{
  font-size: 35px;
  color: white;
  text-decoration: underline;
}

#landingLink:hover { /*todo: ask ivy if the color should change on hover*/
  color: white;
}

.footerLink{
  font-size: 28px;
  color: white;
  text-decoration: none;
}

#footerLink:hover { /*todo: ask ivy if the color should change on hover*/
  color: white;
}

.services-section img {

    margin: auto;
    display: block;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1D00B5 !important;
    border-color:  #1D00B5 !important;
}
