.App {
  text-align: center;
  /* background-color: blue; */
  color: white;
  background: linear-gradient(180deg, #7C3ECC 0%, #6240FF 100%);
}

.landing {
  text-align: center;
  background: linear-gradient(180deg, #7C3ECC 0%, #6240FF 100%);
  color: white;
  font-family: CircularStd;
  font-weight: Bold;
  height: auto;
  padding-top:55px;
}

.jobOpportunities {
  /* height: 1310px; */
  background-color: #E6E6E6;
  box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.16);
}

.organizations {
  /* height: 1081px; */
  background-color: #E6E6E6;
  box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.16);
}

.community {
  /* height: 665px; */
  background-color: #E6E6E6;
  box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.16);
}

.aboutUs {
  background: linear-gradient(180deg, #7C3ECC 0%, #6240FF 100%);
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
}


.group-1 {
  /* padding-top: 300px; */
  /* height: 42px; */
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  padding-bottom: 30px;
  padding-top: 30px;
}

.landinglogo {
  padding-top: 70px;
  height: 71px;
  width: 371px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
